language: php
php:
  - "7.2"
  - "7.3"
  - "7.4"

env:
  - SERIALIZER_VERSION=3.4.*
  - SERIALIZER_VERSION=4.3.*
  - SERIALIZER_VERSION=4.4.*
  - SERIALIZER_VERSION=5.0.*
  - SERIALIZER_VERSION=5.1.*
  - SERIALIZER_VERSION=^5.0

before_script:
  - composer self-update
  - composer require symfony/serializer:${SERIALIZER_VERSION} symfony/http-kernel:${SERIALIZER_VERSION} --no-update
  - composer update --no-interaction

script:
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover
  - make analyse

after_success:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
  - bash <(curl -s https://codecov.io/bash)
